Hola <%= @email %>,
<p>Un administrador de Spectre le ha enviado sus datos para iniciar sesión.</p>

<p>Contraseña: <strong><%= @password %></strong></p>

<p>Puede acceder visitando la siguiente URL: <%= link_to new_user_session_url, new_user_session_url %></p>

© 2017 Spectre Inc.
