@import "variables";
@import "bootstrap";
@import "default";

.sidebar {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 220px;

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    background-color: #50545a;
  }

  .divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid $gray-700;
  }
}

.app-nav {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
}

.table {
  thead {
    th {
      border-width: 1px;
      color: $gray-600;
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }
}

.main {
  .alert {
    border-radius: 0;
    border: none;
  }

  .flash-message {
    &:first-child {
      margin-top: -1rem !important;
    }

    &:last-child {
      margin-bottom: 1rem !important;
    }
  }
}

.text-no-select {
  cursor: default;
  user-select: none;
}

.sidebar-offset {
  margin-left: 220px !important;
}

.bg-gray {
  background-color: $gray-700;
}

.input-group {
  padding-bottom: 1em;
}

.input-group .invalid-feedback {
  position: absolute;
  left: 0;
  top: 2.5em;
}

.rounded-3 {
  border-radius: 3px !important;
}

.dropdown-item:hover {
  color: $white;
  text-decoration: none;
  background-color: $blue;
}

.text-black {
  color: $gray-800;
}

.text-black:hover,
.text-black:active,
.text-black:focus {
  color: $blue;
  text-decoration: none;
}

.octicon {
  fill: currentColor;
}

.nav-tabs {
  .nav-link {
    color: $gray-600;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $gray-700;
    border-color: transparent;

    .octicon {
      color: $gray-600;
    }

  }

  .nav-link.active:hover {
    color: $gray-700;
    border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

    .octicon {
      color: $gray-700;
    }

  }
}
