@import "variables";
@import "bootstrap";
@import "default";

.sidebar {
  position: fixed;
  width: 220px;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    background-color: #50545a;
  }
}

.text-no-select {
  user-select: none;
  cursor: default;
}

.sidebar-offset {
  margin-left: 220px !important;
}

.bg-gray {
  background-color: $gray-700;
}

.input-group {
  padding-bottom: 1em;
}

.input-group .invalid-feedback {
  position: absolute;
  left: 0;
  top: 2.5em;
}

.rounded-3 {
  border-radius: 3px !important;
}

.dropdown-item:hover {
  color: $white;
  text-decoration: none;
  background-color: $blue;
}

.text-black {
  color: $gray-800;
}

.text-black:hover,
.text-black:active,
.text-black:focus {
  color: $blue;
  text-decoration: none;
}

.octicon {
  fill: currentColor;
}

.nav-tabs {
  .nav-link {
    color: $gray-600;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $gray-700;
    border-color: transparent;

    .octicon {
      color: $gray-600;
    }

  }

  .nav-link.active:hover {
    color: $gray-700;
    border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

    .octicon {
      color: $gray-700;
    }

  }
}
