nav class="app-nav mb-3 navbar navbar-expand-md navbar-light" id="app-nav"
    = link_to current_company.name, dashboard_path, class: 'navbar-brand'

    button [class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#nav-content"
            aria-controls="nav-content"
            aria-expanded="false"
            aria-label="Toggle navigation"]
      span class="navbar-toggler-icon"

    div class="collapse navbar-collapse" id="nav-content"
